html { 
  /*background: url(poze/arh6.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/*
.tales {
	width: 100%;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: auto;
	  max-height: 390px;
      margin: auto;
  }
 */ 
body {
margin-top:10px;
margin-bottom:20px;
padding-bottom:30px;
min-width: 525px; 
width: 97%;
height: 100%;
}
/*
.tales {
  width: auto;
}
.carousel-inner{
  width:auto;
  max-height: 400px !important;
}
*/

/* navigation bar */
#menu {
    min-width: 550px;
	width:99%;
	/*float : left;*/
    height: 40px;
    font-size: 22px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
	margin:10px;
    background-color: #F0F8FF;
    border-radius: 8px; 
	padding-bottom:10px;	
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
display: inline;
padding: 20px; 
}

#menu a {
    text-decoration: none;
    color: #00F;
    padding: 15px 15px 15px 15px;
}
/*end navigation bar*/

/*searchbox*/
form{
   display:inline;
}

.search {
           padding:8px 15px;
           background:rgba(50, 50, 50, 0.2);
           border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}
/*end searchbox*/

/*carousel */

.slider-holder
        {
            width: 800px;
            height: 500px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
			margin-bottom: 20px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 4000px;
            background-color: red; 
            height: 500px;
            clear: both;
            position: relative;
            top: 0;
            -webkit-transition: left 2s ;
            -moz-transition: left 2s ;
            -o-transition: left 2s ;
            transition: left 2s ;/* all 2s ease-in; */
        }
        
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -1600px;
        }
		
		#slider-image-4:target ~ .image-holder
        {
            left: -2400px;
        }
		
		#slider-image-5:target ~ .image-holder
        {
            left: -3200px;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 20px;
            border-radius: 5px;
            background-color: white;
        }

/*end carousel*/

#header {
position: relative;
float: left;
/*object-fit: contain; */
width:100%;
padding-right: 10px;
margin: 10px;
margin-top: 10px;

/*display: flex;
justify-content: space-between; */
}

p.serif {
    font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

#tab { display:inline-block; 
       margin-left: 40px; }

h1 {
	font-family: "Arial", cursive;
	font-size: 150px;
	line-height: 15px;
	vertical-align:top;
	text-align:left;
	margin-left: 5px;
	/*display: inline;
    color: black; */
  }

#wrapper {
float: left;
padding-left: 15px;
padding-right: 15px;
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
overflow: hidden; /*scroll*/
}

#content_area {
position: relative;
float: left;
background-color: 	#A52A2A;
margin-left: 55px;
width: auto;
border-radius: 20px;
 padding-bottom: 2000px; 
margin-bottom: -2000px; 
background:rgba(165,42,42,0.55);
}






