html { 
  background: url(poze/arh6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
}

table#table1 {
    margin-left:auto; 
    margin-right:auto;
  }

body {
margin:0;
padding:0;
min-width: 525px;
}
#header {
position: relative;
float: left;
object-fit: contain; 
width:100%;
padding-right: 25px;

/*display: flex;
justify-content: space-between; */
}



#footer {
float: left;
width:100%;
/*background-color: #7152f4;*/
font-size: 12pt;
font-weight: bold;
text-align: center;
position: relative;
}
#wrapper {
float: left;
padding-left: 235px;
padding-right: 25px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
overflow: hidden; /*scroll*/
}
#left_side {
position: fixed; 
float: left; 
width: 250px;
background-color: #DAA520;
/*right: 200px; */
margin-left: 10px;
margin-top: 10px; 
padding-top: 5px;
padding-bottom: 10px;
/*margin-bottom: -2000px;  */
border-radius: 20px;
background:rgba(218,165,32,0.4);
}
#right_side {
position: relative;
float: right;
width: 225px;
background-color: #F5DEB3;
margin-right: 10px;
margin-top: 10px; 
padding-top: 10px;
padding-left: 5px;
border-radius: 20px;
padding-top: 20px;
padding-bottom: 50px; 
margin-bottom: -2000px; 
}
#content_area {
position: relative;
float: left;
background-color: 	#A52A2A;
margin-left: 55px;
width: auto;
border-radius: 20px;
 padding-bottom: 2000px; 
margin-bottom: -2000px; 
background:rgba(165,42,42,0.55);
}
#left_side ul {
list-style: none;
margin: 12px 0px 0px 12px;
padding: 0px;
}
#left_side li a:link, #nav li a:visited {
font-size: 12pt;
font-weight: bold;
padding: 3px 0px 3px 3px;
color: #000000;
text-decoration: none;
display: block;
}
#left_side li a:hover, #nav li a:active {
font-size: 12pt;
font-weight: bold;
padding: 3px 0px 3px 3px;
color: #ffffff;
text-decoration: none;
display: block;
}

/* search box */

#searchbox
{
	float: right;
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 25px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 320px;
    height: 35px;
    padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
   /* margin: 100px auto 50px; */
    overflow: hidden; /* Clear floats */
}

#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 200px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #F5DEB3;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#submit
{       
    background-color: 	#D2691E;
    /*background-image: linear-gradient(#95d788, #6cbb6b); */
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

/* end searchbox */

/* buttons */
button {
  float: none;
  background: none;
  position : relative;
  display: inline-block;  
  margin: 10px;
  padding: 5px 15px;
  font-size: 20px;
  width: 220px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  cursor:pointer;
}

button:focus {
  outline: none
}
section.gradient button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff9664;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

section.gradient button:hover,
section.gradient button.hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

section.gradient button:active,
section.gradient button.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
/* end buttons */

/* blink text */
.blink_text {

    animation:1.7s blinker linear infinite;
    -webkit-animation:1.7s blinker linear infinite;
    -moz-animation:1.7s blinker linear infinite;

     color: red;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }
/* end blink text */

/* motto font */
h2 {
	font-family: "Papyrus", cursive;
	font-size: 30px;
	font-weight: 1900;
	line-height: 26.4px;
	vertical-align:middle;
	text-align:center;
	margin: 10px;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	
    color: #FF5E33;
  }

/* end motto font */
/* table cell font*/
h3 {
	font-size: 17px;
	font-weight:550;
	color: #FFDAB9; /*#ADFF2F*/
	vertical-align:middle;
	text-align:center;
	font-style: normal;
	font-variant: normal;
}
/* end table cell font*/

